/* about page */


.ab-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(160px, auto);
}

.ab-header {  
    grid-column: 1 / 3;
    align-self: center;
    text-align: right;
    word-spacing: 50px;
    padding-right: 32px;
    padding-bottom: 20px;
}

.ab-box1-desk {
    grid-column: 1;
    justify-items: center;
    padding-left: 28px;
    padding-right: 50px;
    padding-bottom: 60px;
}

.ab-box2-desk {
    grid-column: 2;
    justify-self: right;
    padding-bottom: 60px;
}

.ab-team {
    grid-column: 1 / 3;
    padding-left: 28px;
    align-self: end;
}

.ab-grid-team {
    display: grid;
    grid-column: 1 / 3;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 60px;
}

.item {
    padding: 0;
    width: 512px;
    height: 343px;
    overflow: hidden;
    float: left;
}

.item-media {
    position: relative;
}

.item-media h2 {
    text-align: left;
    position: absolute;
    padding-left: 18px;
    width: 512px;
    transform:translate(0%,-300%);
    -webkit-transform:translate(0%,-300%);
    color:#FFFFFF;
    text-transform:lowercase;
    display:none;
    overflow: hidden;
    letter-spacing: 3px;
  }

.item-media h4 {
    text-align: left;
    position: absolute;
    padding-left: 18px;
    width: 512px;
    transform:translate(0%,-332%);
    -webkit-transform:translate(0%,-332%);
    color:#FFFFFF;
    text-transform:lowercase;
    display:none;
    overflow: hidden; 
    font-family: Stevie Sans;
    letter-spacing: 3px;
}

.item:hover img {
    filter: brightness(0.3);
    -webkit-filter:brightness(0.3);
    -moz-filter:brightness(0.3);
}

.item:hover h2{
    display: block;
}

.item:hover h4{
    display: block;
}


.ab-box3-desk {
    grid-column: 1 / 3;
    justify-items: center;
    padding-left: 28px;
    padding-right: 50px; 
}

.ab-footer {
    grid-column: 1 / 3;
    align-self: center;
    text-align: center;
}

.ab-title {
    text-align: left;
    line-height: 5px;
    padding-bottom: 12px;
}

.ab-pg-img-desk {
    max-width: 960px;
}

.ab-box1-mob {
    display: none;
}

.ab-box3-mob {
    display: none;
}

@media screen and (max-width: 736px) {
    .ab-grid {
        grid-template-columns: 1fr auto;
        grid-auto-rows: minmax(44px, auto);
        grid-gap: 12px;
    }

    .ab-box1-desk {
        display: none;
    }

    .ab-box2-desk {
        display: none;
    }

    .ab-box3-desk {
        display: none;
    }

    .ab-box1-mob {
        display: grid;
        grid-column: 1 / 3;
        align-self: center;
    }
    
    .ab-box2-mob {
        display: grid;
        grid-column: 1 / 3;
        justify-self: center;
    }

    .ab-pg-img-mob {
        max-width: 400px;
    }

    .ab-text-mob {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .ab-team {
        grid-column: 1;
        align-self: end;
        padding: 0;
    }

    .ab-grid-team {
        display: grid;
        grid-column-gap: 0;
        grid-row-gap: 12px;
        grid-template-columns: 1fr;
        padding: 0;
        justify-self: center;
    }

    .item {
        max-width: 400px;
        height: 268px;
    }

    .item-media h2 {
        max-width: 400px;
    }

    .item-media h4 {
        max-width: 400px;
    }

    .teamBioImg {
        max-width: 400px;
    }

    .ab-box3-mob {
        display: grid;
        grid-column: 1 / 2;
        align-self: center;
    }

    .ab-box3-mob p {
        grid-column: 1 / 2;
        padding-left: 30px;
    }

    .ab-title {
        text-align: left;
        line-height: initial;
        padding: 0;
        padding-left: 30px;
    }

    .ab-header {
        text-align: center;
        word-spacing: 10px;
        padding: 0;
    }

    .ab-footer {
        text-align: center;
        padding: 0;
    }

}