/* 404 page */


.nf-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.nf-box1 {
    grid-column: 1 / 3;
    justify-self: center;
    padding-top: 10%;
    height: 300px;
}

.nf-footer {
    grid-column: 1 / 3;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 736px) {

    .nf-box1 {
        display: grid;
        grid-column: 1 / 3;
        align-self: center;
        padding-top: 0;
    }

    .nf-footer {
        text-align: center;
        padding: 0;
    }

}
