/* services page */


.srv-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(160px, auto);
}

.srv-box1-desk {
    grid-column: 1;
    justify-items: center;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 12px;
}

.srv-box2-desk {
    grid-column: 2;
    justify-self: right;
    padding-top: 12px;
}

.srv-grid-mid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
    padding-top: 120px;
    padding-bottom: 60px;
}

.srv-box3-desk {
    grid-column: 1 / 3;
    justify-items: center;
    padding-left: 28px;
    padding-right: 50px;
}

.srv-box3-desk h2 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.srv-cases {
    grid-column: 1 / 3;
    padding-left: 28px;
    align-self: end;
    padding-top: 12px;
    padding-bottom: 60px;
}

.srv-grid-cases {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* brands */
.brand:nth-child(even) {
    background-color: black;
    padding: 0;
}

.brand:nth-child(even) {
    justify-self: left;
    align-self: center;
}

.srv-list {
    list-style: none;
}

/* logos */
.brand:nth-child(odd) {
    background-color: black;
    padding: 0;
}

.brand:nth-child(odd) img {
    max-width: 512px;
}

.srv-footer {
    grid-column: 1 / 3;
    align-self: center;
    text-align: center;
}

.srv-title {
    text-align: left;
    line-height: 5px;
    padding-bottom: 12px;
}

.srv-pg-img-desk {
    max-width: 960px;
}

.srv-box1-mob {
    display: none;
}

.srv-box3-mob {
    display: none;
}


@media screen and (min-width: 736px) and (max-width: 1366px) {
    .srv-grid {
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: minmax(44px, auto);
    }

    .srv-box1-desk {
        grid-column: 1;
        padding-left: 28px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .srv-box2-desk {
        grid-column: 2;
        justify-self: right;
        padding-bottom: 10px;
    }

    .srv-pg-img-desk {
        max-width: 836px;
    }

    .srv-grid-mid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 3;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .srv-cases {
        grid-column: 1 / 3;
        padding-left: 28px;
        align-self: end;
    }

    .srv-grid-cases {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        justify-self: center;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .srv-box3-desk h2 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* logos */
    .brand:nth-child(odd) {
        background-color: black;
        padding: 0;
    }

    .brand:nth-child(odd) img {
        max-width: 428px;
    }

    .srv-footer {
        text-align: center;
        padding: 0;
    }

}


@media screen and (max-width: 736px) {
    .srv-grid {
        grid-template-columns: 1fr auto;
        grid-auto-rows: minmax(44px, auto);
        grid-gap: 12px;
        padding-top: 0;
    }

    .srv-box1-desk {
        display: none;
    }

    .srv-box2-desk {
        display: none;
    }

    .srv-box1-mob {
        display: grid;
        grid-column: 1 / 3;
        align-self: center;
    }
    
    .srv-box2-mob {
        display: grid;
        grid-column: 1 / 3;
        justify-self: center;
    }

    .srv-pg-img-mob {
        max-width: 400px;
    }

    .srv-text-mob {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .srv-title {
        text-align: left;
        line-height: initial;
        padding: 0;
        padding-left: 30px;
    }

    .srv-grid-cases {
        display: grid;
        grid-column-gap: 0;
        grid-row-gap: 12px;
        grid-template-columns: 1fr;
        padding: 0;
        justify-self: center;
    }

    .srv-grid-mid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 3;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .brand:nth-child(odd) img {
        max-width: 400px;
    }

    .srv-footer {
        text-align: center;
        padding: 0;
    }

}