/* services page */


.srv-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: hidden;
}

.srv-box1-desk {
    grid-column: 1;
    justify-items: center;
    padding-left: 28px;
    padding-right: 100px;
    padding-top: 12px;
}

.srv-box1-desk h2 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.srv-box2-desk {
    grid-column: 2;
    padding-top: 12px;
    position: relative;
    height: 0;
    overflow: hidden;
}

.srv-box2-desk iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.srv-box2-desk-16x9 {
    padding-bottom: 56.25%;
}

.srv-grid-mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    padding-top: 120px;
}

.srv-areas-desk {
    grid-column: 1;
    justify-items: center;
    padding-left: 28px;
    padding-right: 20px;
}

.srv-areas-desk p {
    padding-top: 12px;
}

.srv-box3-desk {
    grid-column: 2;
    justify-items: center;
    padding-left: 28px;
    padding-right: 20px;
}

.srv-box3-desk p {
    padding-top: 30px;
}

.srv-cases {
    grid-column: 1 / 3;
    padding-left: 28px;
    align-self: end;
    padding-top: 120px;
    padding-bottom: 0px;
}

.srv-grid-cases {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
}

/* brands */
.brand {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding: 0;
        align-self: center;
        justify-self: center;
    }

    &:nth-child(1) img, &:nth-child(2) img, &:nth-child(3) img{
        max-width: 512px;
    }
}

.brand {

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        justify-self: center;
        align-self: start;
        text-align: left;
        padding: 0px;
    }

    &:nth-child(4) {
        padding-right: 60px;
    }
}

.srv-list {
    list-style: none;
    padding: 0;
}

.srv-footer {
    grid-column: 1 / 3;
    align-self: center;
    text-align: center;
}

.srv-title {
    text-align: left;
    line-height: 5px;
    padding-bottom: 12px;
}

iframe {
    border: none;
}

.srv-box1-mob {
    display: none;
}




@media screen and (min-width: 736px) and (max-width: 1366px) {
    .srv-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        overflow: hidden;
    }

    .srv-grid-mid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .srv-areas-desk, .srv-box3-desk, .srv-cases {
        padding-top: 40px;
    }

    .srv-cases {
        grid-column: 1 / 3;
        padding-left: 28px;
        align-self: end;
        padding-bottom: 40px;
    }

   .srv-cases h1 {
        padding-bottom: 0px;
    }

    .srv-grid-cases {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        justify-self: center;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    /* brands */
.brand {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding: 0;
        align-self: center;
        justify-self: center;
    }

    &:nth-child(1) img, &:nth-child(2) img, &:nth-child(3) img{
        max-width: 428px;
    }
}

.brand {

     &:nth-child(5), &:nth-child(6) {
        justify-self: center;
        align-self: start;
        padding: 0px;
    }
}

    .srv-footer {
        text-align: center;
        padding: 0;
    }

}


@media screen and (max-width: 1135px) {
    .srv-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding-top: 10%;
        overflow: hidden;
    }

    .srv-box1-desk, .srv-box2-desk {
        display: none;
    }

    .srv-box1-mob {
        display: grid;
        grid-column: 1 / 3;
        align-self: center;
    }

    .srv-box2-mob {
        display: grid;
        padding-top: 18px;
    }

    .srv-box2-mobVid {
        padding-top: 12px;
        position: relative;
        height: 0;
        overflow: hidden;
    }

    .srv-box2-mobVid iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .srv-box2-mobVid{
        padding-bottom: 50%;
    }

    .srv-text-mob h2 {
        padding-bottom: 20px;
    }

    .srv-text-mob {
        padding-top: 10px;
        padding-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .srv-grid-mid {
        display: initial;
        padding: 0;
        padding-top: 0px;
    }

    .srv-box3-desk .srv-title {
        padding-left: 0;
    }

    .srv-areas-desk {
        padding-left: 0;
    }

    .srv-box3-desk {
        padding-top: 20px;
        padding-left: 30px;
    }

    .srv-box3-desk p{
        padding-left: 10px;
        padding-right: 90px;
    }

    .srv-cases {
        grid-column: 1;
        padding: 0;
        align-self: center;
        padding-top: 20px;
    }

    .srv-grid-cases {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: 1fr;
        padding: 0;
        padding-bottom: 20px;
        justify-self: center;
    }

    iframe {
        border: none;
    }

/* brands */
.brand {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding: 0;
        align-self: start;
        justify-self: start;
    }
    &:nth-child(1) img, &:nth-child(2) img, &:nth-child(3) img {
        max-width: 400px;
    }
}

.brand {
    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        justify-self: left;
        align-self: start;
        padding: 0px;
    }
}


    .srv-list {
        padding-left: 28px;
        padding-right: 10px;
    }

    .srv-title {
        text-align: left;
        line-height: 20px;
        padding: 0;
        padding-left: 30px;
    }

    .srv-footer {
        text-align: center;
        padding: 0;
    }

}
