@font-face {
	font-family: 'ia_writer_duospace';
	src: url('../assets/titleFont/iawriterduospace-regular-webfont.woff2') format('woff2'),
				url('../assets/titleFont/iawriterduospace-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Stevie Sans Light';
	src: url('../assets/titleFont/steviesanslight-webfont.woff2') format('woff2'),
				url('../assets/titleFont/steviesanslight-webfont.woff') format('woff');
	font-style: normal;
}

$font-title: ia_writer_duospace, Courier, serif; // name var to reuse
$font-body: Stevie Sans Light, sans-serif;



body {
	font: 100% $font-body;
	-webkit-font-smoothing: auto !important;
	font-weight:400;
}

p, .srv-areas-desk ul li {
	font: 100% $font-body;
	letter-spacing: 1px;
	line-height: 28px;
	font-weight:400;
}

.subtitles {
	font: 135% $font-title;
	letter-spacing: 3px;
}

.copyright-footer {
	font: 12px $font-body;
}

.priv-title {
	font: 200% $font-title;
	letter-spacing: 2px;
}

/* HOME */
.hm-title {
	font: 420% $font-title;
}

.hm-header {
	font: 120% $font-title;
}

/* ABOUT */
.ab-title {
	font: 300% $font-title;
	letter-spacing: 3px;
}

.cards > .Card {
	font: 85% $font-title;
	letter-spacing: 2px;
}

.bio-name {
	font: 120% $font-title;
}

/* SERVICES */
.srv-title {
	font: 300% $font-title;
	letter-spacing: 1px;
}

/* WORK  */
.work-title {
	font: 300% $font-title;
	letter-spacing: 1px;
}

.work-list {
	font: 100% $font-body;
	letter-spacing: 1px;
	line-height: 26px;
}

.cases {
	.Collapsible__trigger {
		font: 135% $font-title;
		letter-spacing: 3px;

		&:after {
			content: '\2715';
			color: $accent-color;
			position: absolute;
			right: 240px;
			margin-top: -34px;
			display: block;
			transform: rotateZ(45deg);
			-o-transform: rotateZ(45deg);
			-moz-transform: rotateZ(45deg);
			-webkit-transform: rotateZ(45deg);
			transition: transform 0.3s;
			-o-transition: transform 0.3s;
			-moz-transition: transform 0.3s;
			-webkit-transition: transform 0.3s;
		}

		&.is-open {
			&:after {
				transform: rotateZ(180deg);
				-o-transform: rotateZ(180deg);
				-moz-transform: rotateZ(180deg);
				-webkit-transform: rotateZ(180deg);
			}
		}

		&.is-disabled {
			opacity: 0.5;
		}
	}

	li {
		line-height: 2em;
	}

	.Collapsible__contentOuter {
		padding-bottom: 1px;
		border-bottom: 1px solid white;
	}

	.Collapsible__trigger.is-open ~ .Collapsible__contentOuter{
		border: none !important;
	}
}

/* NOT FOUND */
.nf-title {
	font: 300% $font-title;
	letter-spacing: 3px;
}

.nf-header {
	font: 120% $font-title;
}


@media screen and (min-width: 736px) and (max-width: 1366px) {
	/* HOME */
	.hm-title {
		font: 344% $font-title;
	}

	.subtitles {
			font: 125% $font-title;
			letter-spacing: 1.2px;
	}

	.subtitles-mob {
			font: 125% $font-title;
			letter-spacing: 1.2px;
	}

	.ab-title {
			font: 200% $font-title;
			letter-spacing: 3px;
	}

	.srv-title {
		font: 200% $font-title;
		letter-spacing: 0px;
	}

	.work-title {
		font: 200% $font-title;
		letter-spacing: 0px;
	}

	.Collapsible__trigger {
			font: 125% $font-title;
			letter-spacing: 1.2px;
	}

	.priv-title {
		font: 200% $font-title;
		letter-spacing: 0px;
	}

}


@media screen and (max-width: 1135px) {

	p, .srv-areas-desk ul li{
			font: 16px $font-body;
			letter-spacing: .5px;
			line-height: 24px;
	}

	.cases .details li {
		font: 16px $font-body;
		letter-spacing: .5px;
		line-height: 24px;
	}

	h1 {
			font: 120% $font-title;
			line-height: 30px;
	}

	.subtitles-mob {
			font: 110% $font-title;
			letter-spacing: 1.2px;
	}

	.NavMobile {
		.Collapsible__trigger {
			font: 18px $font-body;
			letter-spacing: .5px;
	}

	li {
		font: 300% $font-title;
		letter-spacing: 1.2px;
	}
}

	.priv-title {
			font: 180% $font-title;
			letter-spacing: 2px;
	}

	/* HOME */
	.hm-title {
			font: 200% $font-title;
	}

	/* ABOUT */
	.ab-title {
			font: 200% $font-title;
			letter-spacing: 3px;
	}

	.ab-std-lead-mob .subtitles {
			font: 110% $font-title;
			letter-spacing: 1.2px;
	}

	.ab-team .subtitles {
			font: 110% $font-title;
			letter-spacing: 1.2px;
	}

	.cards > .Card > h3 {
			font: 100% $font-title !important;
			letter-spacing: .75px;
	}

	.ab-text-mob .subtitles-mob {
		letter-spacing: .85px;
	}

	/* SERVICES */
	.srv-title {
			font: 200% $font-title;
	}

	/* WORK */
	.work-title {
			font: 200% $font-title;
	}

	.cases {
		.Collapsible__trigger {
			font: 110% $font-title;
			letter-spacing: 1.2px;

			&:after {
				right: 44px;
				margin-top: -32px;
				display: block;
				transform: rotateZ(45deg);
				-o-transform: rotateZ(45deg);
				-moz-transform: rotateZ(45deg);
				-webkit-transform: rotateZ(45deg);
				transition: transform 0.3s;
				-o-transition: transform 0.3s;
				-moz-transition: transform 0.3s;
				-webkit-transition: transform 0.3s;
			}

			&.is-open {
				&:after {
					transform: rotateZ(180deg);
					-o-transform: rotateZ(180deg);
					-moz-transform: rotateZ(180deg);
					-webkit-transform: rotateZ(180deg);
				}

				.Collapsible__contentOuter {
					border-bottom: 1px solid white;
				}
			}

			&.is-disabled {
				opacity: 0.5;
			}
		}

		li {
			line-height: 2.4em;
			width: 90%;
		}

		.Collapsible__contentOuter {
			padding-bottom: 0px;
		}

		.work-title {
			line-height: 1.2em;
		}
	}

	.work-list {
			letter-spacing: 1px;
			line-height: 26px;
	}

	/* PRIVACY */
	.priv-title {
		font: 200% $font-title;
}

	/* NOT FOUND */
	.nf-title {
			font: 100% $font-body;
	}

	.copyright-footer {
			font: 10px $font-body;
	}

	.ft-contact p, .ft-social p {
			line-height: 1.25rem;
	}

	.ft-contact h3, .ft-social h3 {
			line-height: .25rem;
	}

}
